.main-container{
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: #41434C;
    font-weight: 600;
    padding-bottom: 300px;
    border-radius: 200px;
    
}
// .card{
//     background-color: whitesmoke;
// }
.prev1{

    text-align: justify;
    margin-top: 1%;
    
    // padding-left: 30px;
    // padding-top: 30px;
    
}
   
// }
.prev{
    text-align: justify;
    // padding-left: 30px;
    position: relative;
    // text-indent: 2px;
    
}

.checkbox{
    margin-top: 1%;
    display: flex;
    margin-left: 2%;
}
.checkbox1{
    margin-top: 1%;
    display: flex;
    margin-left: 2%;
    // padding-left: 60px;
}

.bold-txt{
    font-weight: 600;
    color: rgb(14, 13, 13);
    margin: 1% 2% 2% 2%;
}
.bold-txt1{
    font-weight: 600;
    color: rgb(14, 13, 13);
    margin: 1% 2% 2% 2%;
    // padding-left: 10px;
}
// .bold-txt2{
//     font-weight: 600;
//     color: black;
   
// }
// .bold-txt3{
//     font-weight: 600;
//     color: black;
//     // padding-left: 60px;
// }

// .checkbox .bold-txt{
//     padding-left: 10px;
// }
// // ul{
// //     display: flex;
// //     border: lightgray 1px solid;
// // }

// li{
//     padding: 1%;
// }

.inst-title{
    margin-top: 2%;
    font-size: x-large;
    text-align: center;
}

// .round-no{
//     color: black;
//     font-weight: bolder;
// }

// .btm-border{
//     border-top: lightgray 1px dashed;
//     font-weight: bold;
//     color: #41434b;
// }

// .btm-boder-txt{
//     padding: 1%;
//     border-bottom: lightgray 1px dashed;

// }

// // .ul-parent{
// //     padding: 5px;
// //     display: block;
// //     border-inline-end: inherit;
// // }

// .diagramatic{
//     display: flex;
//     justify-content: flex-start;
// }

// .flow-diagram{
//     /* max-width: 800px;
//     max-height: 500px; */
//     // margin-left: 25%;
    
//     border-radius: 15px;
    
//     margin-top: 2%;
//     background-color: whitesmoke;
// }

.flow-diagram{
    display: flex;
    justify-content: center;
}

// mat-checkbox strong{
//     font-size: large;
//     color: lightgray;
// }

.continue-btn{
    background-color: #390099;
    margin-top: 1%;
    cursor: pointer;
    margin-bottom: 2%;
    border-radius: 55px;
}

.my-btn{
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 150px;
    display: flex;
    align-items: center;
    background-color: #390099;
    margin-right: 2%;
    border-radius: 55px;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1.5%;
    
    // left: 50;
    text-align: center;
    margin-bottom: 2%;
}

.btn:hover{
    background-color: #2e0379;

}

.btn-txt{
    color: white;
    font-weight: bold;
    // position: absolute;
    // left: 50%;
}

.continue-btn p { 
    color: white;
}


.page-wrapper-with-header {
    padding-top: 0;
    margin-top: -60px;
}
.page-wrapper {
    padding: 16px;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 85px;
}
.layout-column {
    flex-direction: column;
}

.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    
    display: flex;
}

@media (max-width: 1919px) and (min-width: 1280px)
{layout-column>.flex, .layout-lg-column>.flex {
    min-height: 0;
}}
.profile-hero-extend {
    background: #fff;
    margin-top: -10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 2px;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 16px;
}

* {
    outline: 0;
}
section {
    display: block;
}

div{
    display: block;
}

.section-header {
    font-size: 15px;
    font-weight: 900;
    line-height: 22px;
    min-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 16px 0 6px;
}

.section-header+.formatted-content {
    margin-bottom: -10px;
}
.formatted-content {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

// .flow{
//    font-size

// }

// .flow1{
//     color: black;
// }

// .image{
    
//     justify-content: center;
// }