<div class="row">
    <div class="col s8 offset-s2">
      <!-- <div class="card">
        <div class="sm-jumbotron center-align"> -->
          <h2>Get In Touch</h2>
        <!-- </div> -->
        
        <form (ngSubmit)="processForm()" class="form-style-9">
           <div class="row">
             <div class="input-field col s6">
               <i class="material-icons prefix">account_circle</i>
               <input type="text" #name name="name" class="field-style field-split" placeholder="Your Name" ngModel id="name">
               <!-- <span class="helper-text" data-error="Use lowercases or use correct username!" style="color: rgb(20, 75, 57); text-shadow:blue;"></span> -->

             </div>
             <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="text" class="field-style field-split" name="email" #email="ngModel"
              [(ngModel)]="messages.email" [pattern]="emailPattern" required />
            <label for="email" class="inp-lbl">Email</label>
            <span *ngIf="email.errors?.required && email.touched" class="field_error">
              Email field can't be blank
            </span>
            <span *ngIf="email.errors?.pattern && email.touched" class="field_error">
              That Email ID doesn't seem right
            </span> </div>
           </div>
           <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">message</i>
                <textarea
              type="text"
              class="field-style field-split"
              #message="ngModel"
              [(ngModel)]="messages.messagess"
              name="message" 
              id="message"
              rows="7" 
              required
            >
            </textarea>
            <label for="messages">Add a bio*</label>
            <!-- <span
              *ngIf="messages.errors?.required && messages.touched"
              class="field_error"
            >
              Bio field cannot be blank
            </span>
            <span
              *ngIf="messages.errors?.pattern && messages.touched"
              class="field_error"
            >
              Please add a valid bio.
            </span> -->

            
          
          </div>
              
            </div>  
            <div class="row">
                <div class="input-field col s12">
                  <button class="btn-large btn-submit" type="submit">
                    <p>Submit</p>
                  </button>

                  <!-- <div class="btn">
                    <button class="btn-txt">Take Quiz</button>
                </div> -->
                </div>
              </div>
        </form>
        
    </div>
</div>