<footer class="footer-container">
  <div class="left-side">
    <h5>
      Please consider filling this feedback form after exploring the portal
    </h5>
    <p>
      <a
        style="color: rgb(73, 73, 245);"
        href="https://forms.gle/zoM7ybVysZaNyDND8"
        target="_blank"
        >Portal Feedback</a
      >
    </p>
  </div>
  <div class="right-side">
    <div>
      <h5>Links</h5>
      <ul class="list-container">
        <li><a [routerLink]="['/about-us']">About Us</a></li>
        <li><a [routerLink]="['/contact-page']">Contact</a></li>
        <li><a href="#!">Terms and conditions (WIP)</a></li>
        <li><a [routerLink]="['/faq-page']">FAQ</a></li>
      </ul>
      <div class="copyright">
        © 2020 Copyright Technocrats
      </div>
      <p class="text">
        Made with <img class="icon" src="./assets/icons/heart.png" /> by
        Technocrats
      </p>
    </div>
  </div>
</footer>
