<div class="row">

    <div class="search-container">
        <!-- <h4>Find all jobs here:</h4> -->
        <div class="nav-wrapper">
            <form class="search-wrapper">
            <div class="search-bar">
                <i id="search-icon" class="material-icons">search</i>
                <input id="search" [(ngModel)] = "query" name="query" type="search" required (keyup)="applyFilter($event.target.value)" placeholder="Search..">
                <i id="cross" class="material-icons" (click)="clear()">close</i>
            </div>
            </form>
        </div>
    </div>

    <div class="loader-container">
        <div *ngIf="showLoader">
          <img src="./assets/loader.gif" class="loader" alt="Loading...">
        </div>
    </div>

    <div *ngIf="!showLoader">
    

    <div class="col s12 ">

        <!-- <div class="total">
            <mat-paginator #paginator [length]="paginatorLength" [pageSize]="10" [pageSizeOptions]="[10,20, 100, 500, 2000]"
              (page)="onPageChanged($event)" [pageIndex]="0">
            </mat-paginator>
          </div> -->
          <!-- *ngIf="i >= startIndex && i < endIndex" -->
        
          <div class="cont-cont">
          <div class="container" *ngFor="let result of data.data; let i = index">
          <mat-card class="example-card" >
            <div class="header-container">
            <mat-card-header>
              <div mat-card-avatar>
                  <img src="./assets/logo1.png" alt="logo" style="width: 50px; height: 50px;">
              </div>
              <mat-card-title>{{result.Name}}</mat-card-title>
              <mat-card-subtitle>{{result.job_title}}</mat-card-subtitle>
            </mat-card-header>

            <div class="dropdown">
                <button class="dropdown-cont" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button class="dropdown-cont" mat-menu-item (click)="onApplyClick(result.id)" *ngIf="userService.isOrganization">
                        <i class="material-icons">edit</i>
                        <span>
                            <div class="dropdown-txt" >Apply Now</div>
                        </span>
                    </button>
                    <button class="dropdown-cont" mat-menu-item>
                            <i class="material-icons">share</i>
                            <span>
                                <div class="dropdown-txt">Share</div>
                            </span>                        
                    </button>
                    <button class="dropdown-cont" mat-menu-item>
                        <i class="material-icons">bookmark</i>
                        <span>
                            <div class="dropdown-txt" >Save</div>
                        </span>
                    </button>
                    <!-- <button class="dropdown-cont" mat-menu-item (click)="onViewApplicant(result.id)" *ngIf="userService.isOrganization">
                        <i class="material-icons">pageview</i>
                        <span>
                            <div class="dropdown-txt" >View applicants</div>
                        </span>
                    </button> -->
                </mat-menu>
            </div>
            </div>
            <p class="description" title="{{result.Job_Descreption}}"><strong>Description : </strong>{{result.Job_Descreption}}</p>
            <mat-card-content>
                <p><strong>Minimum experience : </strong>
                    {{result.Minimum_experience}}
                </p>
                <p class="city"><strong>Available at : </strong>
                    {{result.prefered_city}}
                </p>
            </mat-card-content>
            <mat-card-actions class="footer">
                <button mat-button class="btn" (click)="onViewClick(result)">View Post</button>
                <button mat-button class="btn" (click)="onViewApplicant(result.id)" *ngIf="userService.isOrganization">View Applicants</button>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
        <!-- <div class="search-filter">
            Search companies:<br>
            <mat-form-field class="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
            </mat-form-field>
        </div> -->
        <!-- <div class="card blue-grey darken-1" *ngFor="let result of data.data" >
            <div class="card-content white-text">
                <span class="card-title">Job ID: {{result.id}}</span>
                <p style="text-shadow: 1px 2px 2px #CE5937;" ><strong>Posted By: {{result.Name}}</strong></p>
                <p style="text-shadow: 1px 2px 2px #CE5937;" ><strong>Role: {{result.job_title}}</strong></p>
                <p><strong>Description : </strong>{{result.Job_Descreption}}</p>
                <p><strong>Minimum experience : </strong>{{result.Minimum_experience}}</p>
                <p><strong>Available at : </strong>{{result.prefered_city}}</p> -->
                <!-- <p><strong>Id: </strong>{{result.id}}</p> -->
            <!-- </div>
            <div class="apply-btn">
            <button *ngIf = "isCandidate" class="btn waves-effect waves-light" type="submit" name="action" (click) = "onSubmit(result.id)">
                Apply for this job<i class="material-icons right">send</i>
            </button>
            <button *ngIf = "isOrganization" class="btn waves-effect waves-light" type="submit" name="action" (click) = "onViewApplicant(result.id)">
                View applicants<i class="material-icons right">send</i>
            </button>
            </div>
        </div> -->
    </div>
</div>
</div>

