<div class="loader-container">
  <div *ngIf="showLoader">
    <img src="./assets/loader.gif" class="loader" alt="Loading..." />
  </div>
</div>

<div *ngIf="notRegistered" class="not-registered">
  <div class="not-registered-txt">
    Please<a [routerLink]="['/profiles']">&nbsp;Sign Up&nbsp;</a>to view skills,
    recommended courses/ blogs/ Govt. schemes on your dashboard.
    <!-- In the meantime, you can view these general courses to help you out with the quiz. -->
  </div>
  <div class="not-registered-img">
    <img
      class="nr-actual-img"
      src="./assets/image/register_now.png"
      alt="error_logo"
    />
  </div>
</div>

<div class="row" *ngIf="!showLoader && !notRegistered">
  <div class="dashboard_header">{{ data.data.Name }}'s Dashboard</div>
  <div class="dashboard" *ngIf="data.data">
    <mat-card class="example-card">
      <div class="header-container">
        <mat-card-header>
          <div mat-card-avatar>
            <img
              class="card_header_img"
              src="./assets/image/user.png"
              alt="logo"
            />
          </div> 
          <mat-card-title>
            Hey <strong> {{ data.data.Name }}! </strong></mat-card-title
          >
        </mat-card-header>

        <div class="dropdown">
          <button
            class="dropdown-cont"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- [routerLink]="['/deactivate-profile']" -->
            <button
              class="dropdown-cont"
              mat-menu-item
              *ngIf="userService.isOrganization"
            >
              <i class="material-icons">edit</i>
              <span>
                <div class="dropdown-txt">Deactivate Profile</div>
              </span>
            </button>
            <!-- [routerLink]="['/edit-profile']" -->

            <!-- <button class="dropdown-cont" mat-menu-item>
              <i class="material-icons">share</i>
              <span>
                <div class="dropdown-txt">Edit Profile</div>
              </span>
            </button> -->
            <button [routerLink]="['/custom-quiz']" class="dropdown-cont" mat-menu-item>
              <i class="material-icons">post_add</i>
              <span>
                <div class="dropdown-txt">Prepare quiz</div>
              </span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="description">
        <div class="card-inside-header">
          <strong>Organization Details:</strong>
        </div>

        <div class="description-fields">
          <p title="{{ data.data.Name }}">
            <strong>Name : </strong> {{ data.data.Name }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>Address : </strong> {{ data.data.Address }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>Email : </strong> {{ data.data.Email }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>City : </strong> {{ data.data.City }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>State : </strong> {{ data.data.State }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>Registeration No: </strong>
            {{ data.data.Registration_no }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>Website: </strong> {{ data.data.website }}
          </p>
        </div>
      </div>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="footer"> </mat-card-actions>
    </mat-card>

    <div class="dashboard_img-container">
      <img
        src="./assets/image/orview.png"
        class="dashboard_img"
        alt="dashboard_img"
      />
    </div>
  </div>
</div>