<div class="dialog-container">
    <h3 mat-dialog-title>{{data.Name}}</h3>

    <mat-dialog-content class="job-view">
        <h5> <strong> Role: </strong> {{data.job_title}}</h5>
        <h5>  <strong> Description: </strong> {{data.Job_Descreption}}</h5>
        <h5> <strong> Minimum Experience: </strong> {{data.Minimum_experience}} years</h5>
        <h5>  <strong> Preferred City: </strong> {{data.prefered_city}}</h5>

        <button mat-button class="btn" (click)="onApplyClick()">Apply Now<i class="material-icons footer-icons right">edit</i></button>
    </mat-dialog-content>
</div>
