<!-- <div class="list-jobs">
  <h4>Total jobs applied: {{ data.count }}</h4>
  <div *ngFor="let job of data.data">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="./assets/image/applied-job.jpg" alt="" class="circle" />
        <span class="title">Company: {{ job.job_company }}</span>
        <p>
          Role: {{ job.job_name }} <br />
          Applied at: {{ job.At | date: "dd-MMM-yy h:mm:ss a " }}
        </p>
        <a href="#!" class="secondary-content"
          ><i class="material-icons">grade</i></a
        >
      </li>
    </ul>
  </div>
</div> -->

<div class="row">
  <div class="page-header-container">
    <div class="title-container">
      <h4 class="title">Total jobs applied: {{ data.count }}</h4>
      <!-- Uncomment below div to implement search -->
      <div class="search-container">
        <div class="nav-wrapper">
          <form class="search-wrapper">
            <div class="search-bar">
              <i id="search-icon" class="material-icons">search</i>
              <input
                id="search"
                [(ngModel)]="query"
                name="query"
                type="search"
                placeholder="Search by role or company"
              />
              <i id="cross" class="material-icons" (click)="clear()">close</i>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="header-image-container">
      <img src="./assets/image/hire.png" class="header-image" />
    </div>
  </div>

  <div>
    <div class="loader-container">
      <div *ngIf="showLoader">
        <img src="./assets/loader.gif" class="loader" alt="Loading..." />
      </div>
    </div>
    <div *ngIf="noMatch" class="no-match">
      No results found. :(
    </div>
    <div class="col s12">
      <div class="cont-cont" *ngIf="!showLoader && !noMatch">
        <div
          class="container"
          *ngFor="let job of data.data | filter: query; let i = index"
        >
          <mat-card class="example-card">
            <div class="header-container">
              <div class="container-class">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img
                      src="./assets/logo1.png"
                      alt="logo"
                      style="width: 50px; height: 50px;"
                    />
                  </div>
                  <mat-card-title
                    >Company: {{ job.job_company }}</mat-card-title
                  >
                  <mat-card-subtitle
                    >Role: {{ job.job_name }}</mat-card-subtitle
                  >
                </mat-card-header>
                <div class="dropdown">
                  <button
                    class="dropdown-cont"
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button class="dropdown-cont" mat-menu-item>
                      <i class="material-icons">edit</i>
                      <span>
                        <div class="dropdown-txt">View Status</div>
                      </span>
                    </button>
                    <button class="dropdown-cont" mat-menu-item>
                      <i class="material-icons">share</i>
                      <span>
                        <div class="dropdown-txt">View Listing</div>
                      </span>
                    </button>
                    <button class="dropdown-cont" mat-menu-item>
                      <i class="material-icons">bookmark</i>
                      <span>
                        <div class="dropdown-txt">Star</div>
                      </span>
                    </button>
                  </mat-menu>
                </div>
              </div>
              <p>Applied at: {{ job.At | date: "dd-MMM-yy h:mm:ss a " }}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
