.loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
}

.not-registered {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.not-registered-txt {
  font-size: large;
  font-weight: bold;
  // display: flex;
  max-width: 50%;
}

.not-registered-img {
  max-width: 50%;
}

.nr-actual-img {
  width: 100%;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  max-height: fit-content;
  margin-left: 5%;
}

.dashboard_header {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  margin-left: 7%;
  // text-align: end;
  // max-width: 35%;
  // padding-left: 8.5%;
}

.header-container {
  font-family: Poppins !important;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-bottom-color: lightgray;
}

.card-inside-header {
  margin-top: 2%;
  font-size: large;
  color: gray;
}

.example-card {
  font-family: Poppins !important;
  // max-width: 25%;
  min-width: 25%;
  max-width: 50%;
  // max-height: 8%;
  margin: 2%;
  min-height: 8%;
  padding: 12px !important;
  min-height: 100%;
  max-height: fit-content;
}

.example-header-image {
  background-image: url(../../assets/logo1.png);
  background-size: cover;
}

.card_header_img {
  height: 42px;
}

.dropdown-img {
  padding-top: 10px;
  padding-right: 5px;
  max-width: 24px;
  max-height: 24px;
}

.dropdown-txt {
  color: #303030;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  min-width: 50px;
  text-align: start;
}

.dropdown-cont {
  display: flex;
  align-items: center;
  background-color: transparent !important;
  border: none !important;
}

.dropdown-cont:hover {
  display: flex;
  align-items: center;
  background-color: whitesmoke !important;
  border: none !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
  max-width: 450px !important;
}

.mat-expansion-panel-header {
  padding: 0px 16px !important;
}

.skills-container {
  display: flex;
  flex-direction: column;
  // padding-left: 7.5%;
}

.skills-div {
  max-height: 50px;
}

.skill-item {
  font-family: Poppins !important;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  // border: 1px solid;
}

.skill-item-txt {
  border: 1px solid;
  border-radius: 20px;
  height: 30px;
  box-sizing: border-box;
  margin-right: 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.itm-txt {
  display: flex;
  justify-content: center;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid;
  border-bottom-color: lightgray;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  // max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 2em;
}

.description-fields {
  margin-left: 3%;
  padding: 2% 0%;
}

.ml5 {
  margin-left: 5% !important;
}

.dashboard_img-container {
  max-width: 50%;
  padding-left: 5%;
}

.dashboard_img {
  max-width: 100%;
  // max-height: 50% !important;
  // margin-left: 10%;
  max-height: 100%;
}

.dashboard_courses_header {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  padding-left: 8.5%;
}

.dashboard_header_subtitle {
  font-size: medium !important;
}

.carousel {
  height: 500px !important;
}

.carousel.carousel-slider .carousel-item h2 {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px;
  max-width: 50%;
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-block-end: 0px;
  margin-left: 25% !important;
  margin-top: 5px;
}

.white-text {
  color: black !important;
}

.course-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-item {
  margin-bottom: 2% !important;
}

.red {
  background-color: transparent !important;
}

// .carousel.carousel-slider .carousel-item{
//     z-index: -1 !important;
// }

.btn {
  min-height: 45px !important;
  max-height: 45px !important;
  min-width: 45px !important;
  max-width: 150px !important;
  // display: flex !important;
  align-items: center !important;
  background-color: #390099 !important;
  // margin-right: 2% !important;
  border-radius: 55px !important;
  white-space: nowrap !important;
  justify-content: center !important;
}

.btn:hover {
  background-color: #2e0379 !important;
}

.btn-txt {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .dashboard_header {
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .dashboard {
    display: block;
    margin-left: 0;
    .example-card {
      min-width: unset;
      max-width: unset;
    }
    .dashboard_img-container {
      max-width: unset;
      padding-left: 20px;
    }
  }
  .carousel {
    margin-bottom: 30px;
    height: 530px !important;
  }
  .carousel.carousel-slider .carousel-item p {
    max-width: 80%;
    margin-left: 10% !important;
  }
}
