<div class="loader-container">
  <div *ngIf="showLoader">
    <img src="./assets/loader.gif" class="loader" alt="Loading..." />
  </div>
</div>

<div *ngIf="notRegistered" class="not-registered">
  <div class="not-registered-txt">
    Please <a [routerLink]="['/profiles']"> Sign Up </a> to view recommended
    courses/ blogs/ Govt. schemes on your dashboard.
    <!-- In the meantime, you can view these general courses to help you out with the quiz. -->
  </div>
  <div class="not-registered-img">
    <img
      class="nr-actual-img"
      src="./assets/image/final.png"
      alt="error_logo"
    />
  </div>
</div>

<div class="row" *ngIf="!showLoader && !notRegistered">
  <div class="dashboard_header">{{ data.data.Name }}'s Dashboard</div>
  <div class="dashboard" *ngIf="data.data">
    <mat-card class="example-card">
      <div class="header-container">
        <mat-card-header>
          <div mat-card-avatar>
            <img
              class="card_header_img"
              src="./assets/image/user.png"
              alt="logo"
            />
          </div>
          <mat-card-title>
            Hey <strong> {{ data.data.Name }} </strong></mat-card-title
          >
        </mat-card-header>

        <div class="dropdown">
          <button
            class="dropdown-cont"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              [routerLink]="['/deactivate-profile']"
              class="dropdown-cont"
              mat-menu-item
              *ngIf="userService.isOrganization"
            >
              <i class="material-icons">edit</i>
              <span>
                <div class="dropdown-txt">Deactivate Profile</div>
              </span>
            </button>
            <button
              [routerLink]="['/edit-profile']"
              class="dropdown-cont"
              mat-menu-item
            >
              <i class="material-icons">share</i>
              <span>
                <div class="dropdown-txt">Edit Profile</div>
              </span>
            </button>
            <button class="dropdown-cont" mat-menu-item>
              <i class="material-icons">bookmark</i>
              <span>
                <div class="dropdown-txt">Save</div>
              </span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="description">
        <div class="card-inside-header">
          <strong>Personal Details:</strong>
        </div>

        <div class="description-fields">
          <p title="{{ data.data.Name }}">
            <strong>Name : </strong> {{ data.data.Name }}
          </p>

          <p title="{{ data.Address }}" title="{{ data.data.Address }}">
            <strong>Address : </strong> {{ data.data.Address }}
          </p>
        </div>
      </div>
      <mat-card-content>
        <div class="description">
          <div class="card-inside-header">
            <strong>Professional Details:</strong>
          </div>

          <div class="description-fields">
            <p>
              <strong>Resume : </strong>
              <a href="{{ data.data.Resume }}" target="_blank">View</a>
            </p>

            <p><strong>Your Bio :</strong> {{ data.data.Bio }}</p>

            <p>
              <strong>Your Experience :</strong>
              {{ data.data.Experience }} year(s)
            </p>
          </div>
        </div>

        <div class="card-inside-header">
          <strong>CareerConnect Stats:</strong>
        </div>

        <!-- <div class="description-fields">
          <div class="skills-container">
            <div class="skills-div">
              <div class="skill-item">
                Skills based on resume analysis
              </div>
            </div>
            <div class="skill-item">
              <div
                class="skill-item-txt"
                *ngFor="let skill of data.data.Skills"
              >
                <div class="itm-txt">{{ skill.Name }}</div>
              </div>
            </div>
          </div>
        </div> -->

        <mat-accordion class="description-fields">
          <mat-expansion-panel class="skills-container">
            <mat-expansion-panel-header class="skills-div">
              <mat-panel-title class="skill-item">
                Click here to view skills based on resume analysis
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{ panelOpenState ? "open" : "closed" }}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="skill-item">
              <div
                class="skill-item-txt"
                *ngFor="let skill of data.data.Skills"
              >
                <div class="itm-txt">{{ skill.Name }}</div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="description-fields">
          <p>
            <strong>Tech Rating: {{ data.data.TechRating }} </strong>(Take the
            <a [routerLink]="['/instructions']">Quiz</a> to improve this )
          </p>
          <p>
            <strong>Marketing Rating: {{ data.data.MarketRating }} </strong
            >(Take the <a [routerLink]="['/instructions']">Quiz</a> to improve
            this )
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions class="footer"> </mat-card-actions>
    </mat-card>

    <div class="dashboard_img-container">
      <img
        src="./assets/image/dashboard.png"
        class="dashboard_img"
        alt="dashboard_img"
      />
    </div>
    <!-- <div class="card blue-grey darken-1" >
            <div class="card-content white-text">
                <span class="card-title">Your Profile</span>
                <p ><strong>Your Name : </strong>{{data.data.Name}}</p> -->
    <!-- <p ><strong>Address : </strong>{{data.Address}}</p> -->
    <!-- <p ><strong>Resume: </strong> <a href="{{data.data.Resume}}" target="_blank">View</a>         -->
    <!-- <pdf-viewer [src]="resumeLink" [render-text]="true" style="display: block;"></pdf-viewer>  -->
    <!-- </p>
                <p><strong>Your rating in Technical domain : {{data.data.TechRating}} (Start giving the quiz to improve this)</strong></p>
                <p><strong>Your rating in Marketing domain : {{data.data.MarketRating}} (Start giving the quiz to improve this)</strong></p>

            </div> -->
    <!--button type="submit" class="btn-large btn-submit" ng-hide="IsVisible" >Submit</button-->

    <!-- </div> -->
  </div>
</div>

<div class="dashboard_courses_header" *ngIf="!showLoader && !notRegistered">
  {{ data.data.Name }}'s Recommended courses <br />
  <div class="dashboard_header_subtitle">
    (Click anywhere on the section below to view the next course)
  </div>
</div>

<!-- <div *ngIf="!showLoader && !notRegistered"> -->
<div class="carousel carousel-slider center">
  <!-- <div style="display: flex; justify-content: space-evenly; z-index: 1;">
        <div><mat-icon class="dropdwn-arr">chevron_left</mat-icon></div>
        <div><mat-icon class="dropdwn-arr">chevron_right</mat-icon></div>
      </div> -->
  <div class="carousel-fixed-item center">
    <a style="position: relative;"></a>
  </div>
  <div
    class="carousel-item red white-text"
    *ngFor="let course of coursess; let i = index"
  >
    <h2>Course Name: {{ course.title }}</h2>
    <p class="white-text course-desc">
      <strong> Description </strong> {{ course.desc }}
    </p>
    <p class="white-text course-desc"><strong> By </strong> {{ course.by }}</p>
    <p class="white-text course-desc last-item">
      <strong> Rating </strong> {{ course.rating }}
    </p>
    <div (click)="onClick(course, i)">
      <a
        class="btn waves-effect white grey-text darken-text-2 btn"
        target="_blank"
        href="{{ course.apply }}"
      >
        <p class="btn-txt">Apply Now</p></a
      >
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div>
    <div class="carousel carousel-slider center" id="courses-carousel" data-indicators="true">
        
        <div class="carousel-item red white-text" *ngFor="let course of coursess; let i = index">
            <div class="carousel-fixed-item center">
                <a class="btn waves-effect white grey-text darken-text-2">button</a>
              </div>
            <div class="course-title">
                <h2>Title: {{course.title}}</h2>
            </div>
            <div class="course-content">
                <p class="white-text">Description {{course.desc}}</p>
                <p class="white-text">By: {{course.by}}</p>
                <p class="white-text">Rating {{course.rating}}</p>
            </div>
            <div class="carousel-fixed-item center">
                <a class="btn waves-effect white grey-text darken-text-2" target="_blank" href="{{course.apply}}">Apply Now</a>
            </div> -->
<!-- <button><a href="{{course.apply}}">Apply Now!</a></button>  -->
<!-- </div> -->
<!-- <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div> -->
<!-- </div>
    </div> -->
