<!-- <div class="navbar-fixed">
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a [routerLink] = "['/instructions']" class="brand-logo"><img src="https://www.set-test.org/images/logos/SIT.png" alt="Logo"/></a>
        <div class="beta-vers">Beta-version 1.1.0</div> 
        <ul class="right hide-on-med-and-down"> -->
<!-- <li><a [routerLink]="['/signup']">SignUp as Organisation</a></li>
          <li><a [routerLink]="['/candidate']">SignUp as Candidate</a></li> -->
<!-- <li><a [routerLink]="['/organ']">Create profile as organisation</a></li> -->
<!-- <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/jobForm']" *ngIf = "userService.isOrganization()">Create Job</a></li> -->
<!-- <li *ngIf = "checkIfCandidate()"><a [routerLink]="['/jobapply']" *ngIf = "isCandidate">Apply for job</a></li> -->
<!-- <li><a [routerLink]="['/jobsearch']" *ngIf = "userService.isCandidate()">Job Search</a></li>
          <li *ngIf = "checkifLoggedIn()"><a (click)="getAppliedJobs()">Applied Jobs</a></li>
          <li *ngIf = "!checkifLoggedIn()"><a [routerLink]="['/profiles']">Sign Up</a></li> -->
<!-- <li><a [routerLink]="['/create']">Create profile as Candidate</a></li> -->
<!-- <li *ngIf = "!checkifLoggedIn()"><a [routerLink] = "['/login']">Log In</a></li>
          <li *ngIf = "userService.isLoggedIn()"><a (click)="Logout()">Logout</a></li> -->
<!-- <li *ngIf = "checkifLoggedIn()"><a (click)="goToProfile()">Profile</a></li> -->

<!-- </ul>
      </div>
    </nav>
</div> -->

<div class="navba-wrapper">
  <div class="left-nav">
    <div class="logo">
      <a (click)="onClickOption('home')" *ngIf="showLinks">
        <img src="./assets/grp19.png" alt="Logo" />
      </a>
    </div>
    <div class="beta-vers">Beta-version 1.1.0</div>
    <div class="timer" *ngIf="showTimer">
      Time Left: {{ timeLeft | minutesToSeconds }}
    </div>
  </div>
  <!-- <div>
    <div class="nav-link">
      <a (click)="onClickOption('quiz')">Take Quiz</a>
    </div>
  </div> -->
  <div class="links" *ngIf="showLinks">
    <div class="nav-link home">
      <a (click)="onClickOption('home')">Home</a>
    </div>
    <!-- <div class="nav-link" *ngIf = "userIsOrganization">
      <a (click) = "onClickOption('create-job')">Create Job</a>
    </div>
    <div class="nav-link" *ngIf = "userIsCandidate">
      <a (click) = "onClickOption('job-search')">Job Search</a>
    </div>
    <div class="nav-link" *ngIf="checkifLoggedIn()">
      <a (click)="onClickOption('applied-jobs')">Applied Jobs</a>
    </div> -->
    <button *ngIf="!userIsOrganization" class="nav-btn" mat-icon-button [matMenuTriggerFor]="resourcesmenu"
      aria-label="Example icon-button with a menu">
      <div class="nav-btn-txt">Resources</div>
      <mat-icon class="dropdwn-arr">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #resourcesmenu="matMenu">
      <!-- <button mat-menu-item disabled *ngIf = "checkifLoggedIn()">
        <mat-icon>search</mat-icon>
        <span>{{name}}</span>
      </button> -->
      <!-- *ngIf = "!userIsOrganization" removed this condition from below button tag-->
      <button class="nav-btn" mat-menu-item (click)="onClickOption('instructions')"
        *ngIf="!userIsOrganization">
        <mat-icon>assignment</mat-icon>
        <span>Take Quiz</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('course-list')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>menu_book</mat-icon>
        <span>View Courses</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('blog-list')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>library_books</mat-icon>
        <span>Read Blogs</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('scheme-list')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>search</mat-icon>
        <span>Search Schemes</span>
      </button>
      <!-- <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>

    <div class="nav-link" *ngIf="!checkifLoggedIn()">
      <a (click)="onClickOption('profiles')">Sign Up</a>
    </div>
    <div class="nav-link" *ngIf="!checkifLoggedIn()">
      <a (click)="onClickOption('login')">Log In</a>
    </div>
    <!-- *ngIf="!checkifLoggedIn()" removed this condition from below button tag-->

    <button class="nav-btn" mat-icon-button [matMenuTriggerFor]="jobsmenu" aria-label="Example icon-button with a menu"
      *ngIf="checkifLoggedIn()">
      <div class="nav-btn-txt">Jobs</div>
      <mat-icon class="dropdwn-arr">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #jobsmenu="matMenu">
      <!-- <button mat-menu-item disabled *ngIf = "checkifLoggedIn()">
        <mat-icon>search</mat-icon>
        <span>{{name}}</span>
      </button> -->
      <button class="nav-btn" mat-menu-item (click)="onClickOption('job-search')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>search</mat-icon>
        <span>Search Jobs</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('applied-jobs')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>edit</mat-icon>
        <span>Applied Jobs</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('create-job')"
        *ngIf="checkifLoggedIn() && userIsOrganization">
        <mat-icon>add_alert</mat-icon>
        <span>Create Job</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('job-listings')"
        *ngIf="checkifLoggedIn() && userIsOrganization">
        <mat-icon>pageview</mat-icon>
        <span>View my Listings</span>
      </button>
      <!-- <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>
    <!-- <div class="nav-link" *ngIf = "userService.isLoggedIn()">
      <a (click) = "onClickOption('logout')">Logout</a>
    </div> -->
    <button class="nav-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
      *ngIf="checkifLoggedIn()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="nav-btn" mat-menu-item disabled *ngIf="checkifLoggedIn()">
        <mat-icon>verified_user</mat-icon>
        <span>{{ name }}</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('canview')" *ngIf="checkifLoggedIn()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('logout')" *ngIf="checkifLoggedIn()">
        <mat-icon>cancel</mat-icon>
        <span>Logout</span>
      </button>
      <!-- <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>
  </div>

  <div class="links" *ngIf="showTimer">
    <div class="nav-link">
      <a (click)="onClickOption('home')">Exit Quiz</a>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="input-field col s12 offset-s1"> -->
<!-- <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/signup']">SignUp as Organisation
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/candidate']" >SignUp as Candidate
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/organ']" >create profile as organisation
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/jobForm']">find a job
    </button>
    
    <button class="btn-large waves-effect waves-light" type="submit" name="action" [routerLink]="['/create']">create profile as Candidate
    </button> -->
<!-- </div>
</div> -->