<div class="navba-wrapper">
  <div class="left-nav">
    <div class="logo">
      <a (click)="onClickOption('home')" *ngIf="showLinks">
        <img src="./assets/grp19.png" alt="Logo" />
      </a>
    </div>
    <div class="beta-vers">Beta-version 1.1.0</div>
    <div class="timer" *ngIf="showTimer">
      Time Left: {{ timeLeft | minutesToSeconds }}
    </div>
  </div>
  <div class="links" *ngIf="showLinks">
    <div class="nav-link home">
      <a (click)="onClickOption('home')">Home</a>
    </div>
    <button *ngIf="!userIsOrganization" class="nav-btn" mat-icon-button [matMenuTriggerFor]="resourcesmenu"
      aria-label="Example icon-button with a menu">
      <div class="nav-btn-txt">Resources</div>
      <mat-icon class="dropdwn-arr">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #resourcesmenu="matMenu">
      <button class="nav-btn" mat-menu-item (click)="onClickOption('instructions')"
        *ngIf="!userIsOrganization">
        <mat-icon>assignment</mat-icon>
        <span>Take Quiz</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('course-list')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>menu_book</mat-icon>
        <span>View Courses</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('blog-list')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>library_books</mat-icon>
        <span>Read Blogs</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('scheme-list')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>search</mat-icon>
        <span>Search Schemes</span>
      </button>
    </mat-menu>

    <div class="nav-link" *ngIf="!checkifLoggedIn()">
      <a (click)="onClickOption('profiles')">Sign Up</a>
    </div>
    <div class="nav-link" *ngIf="!checkifLoggedIn()">
      <a (click)="onClickOption('login')">Log In</a>
    </div>
    <button class="nav-btn" mat-icon-button [matMenuTriggerFor]="jobsmenu" aria-label="Example icon-button with a menu"
      *ngIf="checkifLoggedIn()">
      <div class="nav-btn-txt">Jobs</div>
      <mat-icon class="dropdwn-arr">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #jobsmenu="matMenu">
      <button class="nav-btn" mat-menu-item (click)="onClickOption('job-search')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>search</mat-icon>
        <span>Search Jobs</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('applied-jobs')"
        *ngIf="checkifLoggedIn() && userIsCandidate">
        <mat-icon>edit</mat-icon>
        <span>Applied Jobs</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('create-job')"
        *ngIf="checkifLoggedIn() && userIsOrganization">
        <mat-icon>add_alert</mat-icon>
        <span>Create Job</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('job-listings')"
        *ngIf="checkifLoggedIn() && userIsOrganization">
        <mat-icon>pageview</mat-icon>
        <span>View my Listings</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('preview-quiz')"
        *ngIf="checkifLoggedIn() && userIsOrganization">
        <mat-icon>preview</mat-icon>
        <span>Preview my quiz</span>
      </button>
    </mat-menu>
    <button class="nav-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
      *ngIf="checkifLoggedIn()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="nav-btn" mat-menu-item disabled *ngIf="checkifLoggedIn()">
        <mat-icon>verified_user</mat-icon>
        <span>{{ name }}</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('canview')" *ngIf="checkifLoggedIn()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button class="nav-btn" mat-menu-item (click)="onClickOption('logout')" *ngIf="checkifLoggedIn()">
        <mat-icon>cancel</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

  <div class="links" *ngIf="showTimer">
    <div class="nav-link">
      <a (click)="onClickOption('home')">Exit Quiz</a>
    </div>
  </div>
</div>