.row{
  margin-left: 0px !important;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.disp-flex {
  display: flex;
  // justify-content: space-evenly;
  flex-direction: column;
}

.form-title{
  display: flex;
  justify-content: center;
  h3{
    font-weight: 400;
  }
}

.form-body{
  display: flex;
  justify-content: space-between;
}

.title-ancestor{
  min-width: 40%; 
  margin-top: 2%;
}
 
.title-container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  h2 {
    max-width: 400px;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
  }
  img {
    width: 400px;
  }
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  min-width: 60%;
  align-items: center;
  h5{
    font-weight: bold;
    color: #390099;
  }
}


.loader {
  width: 100px;
  height: 100px;
}

p {
  color: lightgray;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

h2 {
  color: #390099;
  text-align: center;
}

.inp-lbl{
  font-size: small !important;
}
// .sm-jumbotron{
//     background:#390099 ;
// }

.btn-large {
  background: linear-gradient(to top, #390099, #390099);
  color: lightgray;
  :hover {
    background: linear-gradient(to top, #390099, #390099);
    color: white !important;
    border-radius: 55px;
    white-space: nowrap;
    font-weight: bold;
  }
}

.row {
  margin-left: auto;
}

.form-style-9 {
  max-width: 850px;
  background: #fafafa;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #390099;
  .form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// .form-style-9{
// 	padding:0;
// 	margin:0;
// 	list-style:none;
// }
// .form-style-9{
// 	display: block;
// 	margin-bottom: 10px;
// 	min-height: 35px;
// }
.form-style-9 .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #390099;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  :focus {
    box-shadow: 0 0 5px #b0cfe0;
    border: 1px solid #b0cfe0;
  }
}
// .form-style-9 .field-split{
// 	width: 49%;
// }
// .form-style-9 .field-full{
// 	width: 100%;
// }
// .form-style-9 input.align-left{
// 	float:left;
// }
// .form-style-9 input.align-right{
// 	float:right;
// }

label {
  padding-left: 6px;
}
.material-icons {
  padding-bottom: 9px;
}
h6 {
  padding-left: 6px;
}

p {
  padding-left: 6px;
  color: black;
}
i {
  color: #390099;
}

.field_error {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
  white-space: nowrap;
}

.mismatchError {
  display: flex;
  justify-content: center;
  color: red;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-submit {
  border: none !important;
  background: linear-gradient(to top, #390099, #390099);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-submit:disabled {
  border: none !important;
  background: transparent;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}

.btn-hide {
  border: none !important;
  background: linear-gradient(to top, #390099, #390099);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // margin-top: 150px !important;
  :disabled {
    border: none !important;
    background: transparent;
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 55px;
    font-weight: bold;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    // margin-top: 150px !important;
  }
}
