<div class="row">
  <div class="loader-container">
    <div *ngIf="showLoader">
      <img src="./assets/loader.gif" class="loader" alt="Loading..." />
    </div>
  </div>

  <div class="container-class" *ngIf="!showLoader">
    <div class="left-pane">
      <h2>Login</h2>
      <div *ngIf="isLoginError" class="red-text center error-message">
        <i class="material-icons">error</i> Incorrect username or password
      </div>
      <form
        #loginForm="ngForm"
        class="form-style-9"
        (ngSubmit)="OnSubmit(username.value, password.value)"
      >
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              type="text"
              class="field-style field-split"
              #username
              ngModel
              name="username"
              placeholder="Username"
              required
            />
            <span
              class="helper-text"
              data-error="Use lowercases or use correct username!"
              style="color: rgb(20, 75, 57); text-shadow: blue;"
            ></span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input
              type="password"
              class="field-style field-split"
              #password
              ngModel
              name="password"
              placeholder="Password"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 submit">
            <button
              [disabled]="!loginForm.valid"
              class="btn-large btn-submit"
              type="submit"
            >
              <p>Login</p>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="right-pane">
      <img src="./assets/image/flat1.gif" />
    </div>
  </div>
</div>
`
