.title-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #390099;
  }
  .quiz-r1 {
    padding-top: 0px !important;
    font-family: Poppins !important;
    color: black;
    padding: 2%;
    /deep/ .mat-stepper-horizontal {
      box-shadow: -5px -5px 5px 5px lightgrey;
    }
  }
  /deep/ .mat-horizontal-stepper-content {
    display: flex;
    justify-content: space-between;
  }
  .form-container {
    //padding: 0% 20% 0% 20%;
    width: 70%;
  }
  .icon {
    height: 200px;
  }
  .loader-container {
    display: flex;
    justify-content: center;
  }
  
  .loader {
    width: 100px;
    height: 100px;
  }
  
  .main-container {
    display: flex;
    justify-content: space-between;
  }
  
  p {
    color: lightgray;
    margin-top: auto;
  }
  
  .card_content white_text {
    color: #0b132b;
  }
  
  .collection {
    // background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border: none !important;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    font-family: Poppins !important;
    font-weight: 600;
  }
  
  .collection span {
    color: #101010;
    font-family: Poppins !important;
  }
  
  .card_content {
    background: #0b132b;
  }
  
  .card-title {
    color: antiquewhite;
  }
  
  // input{
  //     background-color: #b71c1c;
  // }
  
  .card {
    background: #0b132b;
  }
  
  .btn-large {
    background-color: #0b132b;
    margin-left: 475px;
  }
  
  /* li{
      background-color: #81e4c5;
      background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  } */
  
  .mat-form-field {
    margin-top: 16px;
  }
  
  .pin {
    position: absolute;
    padding-left: 8px;
  }
  
  .question_text {
    color: #101010 !important;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    font-family: Poppins !important;
    font-weight: 600;
  }
  
  .btn-class {
    display: flex;
    border-top: 1px solid;
    border-top-color: lightgray;
    i {
      margin-right: 0px;
      margin-left: 5px;
    }
  }
  
  .btn {
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 250px;
    display: flex;
    align-items: center;
    background-color: #390099;
    margin-right: 2%;
    border-radius: 55px;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  
  .btn:disabled {
    background-color: transparent !important;
    cursor: not-allowed !important;
  }
  
  .attempt-label {
    color: rgb(190, 14, 14);
  }
  
  .review {
    background-color: #808080 !important;
  }
  
  .row {
    display: flex !important;
  }
  
  .row .btn-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    // margin-left: 57%;
    padding: 5%;
  }
  
  .answered-questions {
    // padding: 0% 21% 0% 21%;
    font-family: Poppins !important;
    font-weight: 600;
  }
  
  @media screen and (max-width: 768px) {
    .title-container {
      margin-top: 30px;
    }
    .btn {
      font-size: 10px;
    }
    /deep/
      .mat-stepper-label-position-bottom
      /deep/
      .mat-horizontal-stepper-header-container {
      flex-wrap: wrap;
      padding: 20px 0;
    }
    /deep/
      .mat-stepper-label-position-bottom
      /deep/
      .mat-horizontal-stepper-header {
      padding: 0px !important;
    }
    .review {
      font-size: 12px;
      line-height: 14px;
    }
    .icon {
      display: none;
    }
    .row .btn-submit {
      max-width: unset;
    }
  }
  