<div class="container">
  <div class="row">

    <div class="loader-container">
      <div *ngIf="showLoader">
        <img src="./assets/loader.gif" class="loader" alt="Loading...">
      </div>
    </div>
    <!-- <div class="col s8 offset-2">
      <div class="card-panel teal lighten-2">
        <h4 class="center white-text">Candidate Profile</h4>
      </div> -->
      <form *ngIf="!showLoader" #imageForm=ngForm class="form-style-9" (ngSubmit)="OnSubmit(Name, Address, Image, Time, income)">
        <div class="part-number">
          Part 1: General Details:
        </div>

        <div class="general-details">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>

            <input type="text" class="field-style field-split" #Name="ngModel" [(ngModel)]="fields.name" name="Name" id="Name" required>
            <label for="Name">Display name* (This name will be visible on your profile and to recruiters)</label>
            <span *ngIf = "Name.errors?.required && Name.touched" class="field_error">
              Name field can't be blank
            </span>
            <span *ngIf = "Name.errors?.pattern && Name.touched" class="field_error">
              Please add a valid name
          </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons icon-image-preview prefix">home</i>
            <input type="text" class="field-style field-split" #Address="ngModel" [(ngModel)]="fields.address" name="Address" id="Address" required>
            <label for="Address">Address*</label>
            <span *ngIf = "Address.errors?.required && Address.touched" class="field_error">
              Address field can't be blank
            </span>
            <span *ngIf = "Address.errors?.pattern && Address.touched" class="field_error">
              Please add a valid name
          </span>
          </div>
        </div>
        <div class="label1">
        <label for="resume-upload" style="font-weight: bold; font-size: inherit;">Upload resume* (Please only upload a .pdf file)</label>

        <br>
        <br>
        <!-- <img *ngIf="hide" [src]="imageUrl"  style="width:50px;height:50px"> -->
        <input type="file" class="submit" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
        <br>
        <!-- <button class="btn-large btn-submit" (click)="preview()"></button> -->
        
        <mat-checkbox (change)="preview()">I want a preview of my uploaded file</mat-checkbox>
        </div>
        <br>
        <div>
          <div *ngIf="display">
            <div class="preview"> Preview: </div>
            <pdf-viewer [src]="imageUrl" [render-text]="true" style="display: block;"></pdf-viewer> 
          </div>
          
          <div *ngIf="hide" class="no-resume">You have not added a PDF of your Resume yet.</div>
          <div *ngIf="!isValid" class="no-resume">Please only upload a PDF file.</div>
          <div *ngIf="resumeStatus && !display" class="yes-resume">Uploaded! :)</div>



        </div>
        </div>
        <br>

        <div class="part-number">
          Part 2: Social Media Activity:
        </div>
        <div class="info-container">
        <div class="sm-platforms">
          <div class="sm-dropdown" matTooltip="Social Media Platforms You Use">
            <!-- <i class="material-icons icon-image-preview prefix">supervised_user_circle</i> -->
            <!-- <input type="text" class="field-style field-split" #Socialmedia ngModel name="Socialmedia" id="Socialmedia" required>
            <label for="Socialmedia">Socialmedia</label> -->
            <mat-form-field appearance="fill">
              <mat-label>Social Media Platforms You Use</mat-label>
              <mat-select [formControl]="socialmedias" (selectionChange)="onSelectionChange($event)" multiple>
                <mat-select-trigger>
                  {{socialmedias.value ? socialmedias.value[0].value : ''}}
                  <span *ngIf="socialmedias.value?.length > 1" class="example-additional-selection">
                    (+{{socialmedias.value.length - 1}} {{socialmedias.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let platform of platformList | keyvalue" [value]="platform">{{platform.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="info-field">
          <div class="input-field col s12">
            <i class="material-icons icon-image-preview prefix">access_time</i>
            <input type="number" class="field-style field-split" #Time="ngModel" [(ngModel)]="fields.time" name="Time" id="Time" [pattern]="timePattern" required>
            <label for="Time">~ Hours spent on these platforms (Ex: 3)*</label>
            <span *ngIf = "Time.errors?.required && Time.touched" class="field_error">
              Time field can't be blank
            </span>
            <span *ngIf = "Time.errors?.pattern && Time.touched" class="field_error">
              Please only add an integer value (0-9)
          </span>
          </div>
        </div>
        </div>

        <br>

        <div class="part-number">
          Part 3: Socio-Economic Status:
        </div>

        <div class="info-container">

          <div class="se-residence">
            <div class="se-dropdown" matTooltip="Type of area">
              <!-- <i class="material-icons icon-image-preview prefix">supervised_user_circle</i> -->
              <!-- <input type="text" class="field-style field-split" #Socialmedia ngModel name="Socialmedia" id="Socialmedia" required>
              <label for="Socialmedia">Socialmedia</label> -->
              <mat-form-field appearance="fill">
                <mat-label>Place of Residence</mat-label>
                <mat-select [formControl]="residences" (selectionChange)="onResidenceSelectionChange($event)">
                    <!-- <mat-select-trigger>
                      {{residences.value ? residences.value[0] : ''}}
                    </mat-select-trigger> -->
                  <mat-option *ngFor="let item of residenceList | keyvalue" [value]="item">{{item.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        <div class="info-field">
          <div class="input-field col s12">
            <i class="material-icons icon-image-preview prefix">account_balance</i>
            <input type="number" class="field-style field-split" #income="ngModel" [(ngModel)]="fields.income" 
            ngModel name="income" id="income" [pattern]="timePattern" required>
            <label for="income">Your approximate family income (Ex: 300000)*</label>
            <span *ngIf = "income.errors?.required && income.touched" class="field_error">
              Income field can't be blank
            </span>
            <span *ngIf = "income.errors?.pattern && income.touched" class="field_error">
              Please only add an integer value (0-9)
          </span>
          </div>
        </div>
        </div>
        <br>

        
        
        <div class="btn-container">
          <button type="submit" [ngClass]="{'btn-submit' : hide, 'btn-hide' : !hide}" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
        </div>
      </form>
    <!-- </div> -->
  </div>
</div>

<!-- <div class="container">
  <div class="row"> -->
    <!-- <div class="col s8 offset-2">
      <div class="card-panel teal lighten-2">
        <h4 class="center white-text">Candidate Profile</h4>
      </div> -->
      <!-- <form #imageForm=ngForm class="form-style-9" (ngSubmit)="OnSubmit(Name,Address,Image)">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>

            <input type="text" class="field-style field-split" #Name ngModel name="Name" id="Name" required>
            <label for="Name">Display name* (This name will be visible on your profile and to recruiters)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons icon-image-preview prefix">home</i>
            <input type="text" class="field-style field-split" #Address ngModel name="Address" id="Address" required>
            <label for="Address">Address*</label>
          </div>
        </div>
        <div class="label1">
        <label for="resume-upload">Upload resume (Please only upload a .pdf file for now)</label>

        <br>
        <br> -->
        <!-- <img *ngIf="hide" [src]="imageUrl"  style="width:50px;height:50px"> -->
        <!-- <input type="file" class="submit" #Image accept="image/*" (change)="handleFileInput($event.target.files)"> -->
        <!-- <br> -->
        <!-- <button class="btn-large btn-submit" (click)="preview()"></button> -->
        
        <!-- <mat-checkbox (change)="preview()">I want a preview of my uploaded file</mat-checkbox>
        </div>
        <br>
        <div *ngIf="!hide">
          <div class="preview"> Preview: </div>
          <pdf-viewer [src]="imageUrl" [render-text]="true" style="display: block;"></pdf-viewer> 

        </div>
        <br>
        

        <button type="submit" [ngClass]="{'btn-large btn-submit' : hide, 'btn-large btn-hide' : !hide}" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
      </form> -->
    <!-- </div> -->
  <!-- </div>
</div> -->

