p {
  color: #000000;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-panel {
  background: linear-gradient(to top, #8e0e00, #1f1c18);
}

// .btn-large{
//     background: linear-gradient(to top, #390099, #390099);
//     color: white;
//     margin-left: 230px;
//     border-radius: 55px;
//     font-weight: bold;
    
// }

// .btn-hide{
//     background: transparent;
//     color: black;
//     width: 150px;
//     height: 50px;
//     border-radius: 55px;
//     font-weight: bold;
//     display: flex;
//     /* text-align: center; */
//     align-items: center;
//     justify-content: center;
//     margin: 0px !important;
//     margin-top: 150px !important;
    
// }

.no-resume{
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
}

.yes-resume{
    display: flex;
    justify-content: center;
    color: green;
    font-weight: bold;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-submit{
    border: none !important;
    background: linear-gradient(to top, #390099, #390099);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 55px;
    font-weight: bold;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-submit:disabled{
    border: none !important;
    background: transparent;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 55px;
    font-weight: bold;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.btn-hide{
    border: none !important;
    background: linear-gradient(to top, #390099, #390099);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 55px;
    font-weight: bold;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 150px !important;
}

.btn-hide:disabled{
    border: none !important;
    background: transparent;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 55px;
    font-weight: bold;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    margin-top: 150px !important;
}

// .btn-submit:hover{
//     background: linear-gradient(to top, #390099, #390099);
//     color: white;
//     // margin-left: 320px;
//     width: 150px;
//     height: 50px;
//     border-radius: 55px;
//     font-weight: bold;
//     cursor: pointer;
//     display: flex;
//     /* text-align: center; */
//     align-items: center;
//     justify-content: center;
// }

// .btn-hide:hover{
//     background: transparent;
//     color: black;
//     width: 150px;
//     height: 50px;
//     border-radius: 55px;
//     font-weight: bold;
//     display: flex;
//     /* text-align: center; */
//     align-items: center;
//     justify-content: center;
//     margin: 0px !important;
//     margin-top: 150px !important;

// }

input{
    margin-bottom: 10px;
    color: black;
}
.label1{
    padding-left: 50px;
}

mat-checkbox{
    padding-left: 5px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col {
  text-align: center;
  float: none;
  margin: auto;
}

.preview{
    display: flex;
    padding-left: 55px;
}
// .btn-large{

// }

// .btn-large:hover{
//     background: linear-gradient(to top, #390099, #390099);
//     color: white;
// }

.form-style-9 {
  max-width: 850px;
  background: #fafafa;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #390099;
}

// .form-style-9{
// 	padding:0;
// 	margin:0;
// 	list-style:none;
// }
// .form-style-9{
// 	display: block;
// 	margin-bottom: 10px;
// 	min-height: 35px;
// }
.form-style-9 .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #390099;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  :focus {
    box-shadow: 0 0 5px #b0cfe0;
    border: 1px solid #b0cfe0;
  }
}
// .form-style-9 .field-split{
// 	width: 49%;
// }
// .form-style-9 .field-full{
// 	width: 100%;
// }
// .form-style-9 input.align-left{
// 	float:left;
// }
// .form-style-9 input.align-right{
// 	float:right;
// }

.part-number{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    margin-bottom: 2%;
    font-size: large;
}

label{
    padding-left: 6px;  
}

.material-icons {
  padding-bottom: 9px;
}

h6{
    padding-left: 6px;
}

p {
  padding-left: 6px;
}

i{
    color: #390099;
}

.submit{
    padding-bottom: 10px;
    padding-left: 7px;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

.info-container{
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    align-items: center;
}

.sm-dropdown{
    .mat-form-field{
        .mat-form-field-wrapper{
            .mat-form-field-flex{
                .mat-form-field-infix{
                    height: 2%;
                }
            }
        }
        
    }
}

.info-field{
    width: 60%;
}


