.loader-container {
  display: flex;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
}

.form-title {
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  align-items: center;
  margin-bottom: 0px !important;
  h3 {
    font-weight: 400;
    margin-bottom: 0px !important;
  }
}

p {
  color: #000000;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-panel {
  background: linear-gradient(to top, #8e0e00, #1f1c18);
}

.general-details-l1 {
  display: flex;
}

.field_error {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}

.exp-sub {
  margin-left: 10%;
  font-size: small;
}

.no-resume {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}

.yes-resume {
  display: flex;
  justify-content: center;
  color: green;
  font-weight: bold;
}

.pb {
  margin-top: 5%;
  width: auto;
  display: flex;
  justify-content: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  padding-left: 7.5%;
}

.skills-div {
  max-height: 50px;
}

.skill-item {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  // border: 1px solid;
}

.skill-item-txt {
  border: 1px solid;
  border-radius: 20px;
  height: 30px;
  box-sizing: border-box;
  margin-right: 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.itm-txt {
  display: flex;
  justify-content: center;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-txt {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
  color: rgb(189, 36, 36);
  font-weight: bold;
}

.btn-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-cancel {
  border: none !important;
  background: linear-gradient(to top, #390099, #390099);
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 5%;
}

.btn-submit {
  border: none !important;
  background: linear-gradient(to top, #390099, #390099);
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-submit:disabled {
  border: none !important;
  background: transparent;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}

.btn-hide {
  border: none !important;
  background: linear-gradient(to top, #390099, #390099);
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // margin-top: 150px !important;
}

.btn-hide:disabled {
  border: none !important;
  background: transparent;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 55px;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  // margin-top: 150px !important;
}

input {
  margin-bottom: 10px;
  color: black;
}

.existing-resume {
  width: auto;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.resume-upload {
  font-weight: bold;
  font-size: inherit;
  display: flex;
  width: 100%;
  justify-content: center;
}

.label1 {
  padding-left: 50px;
}

.label12 {
  padding-left: 50px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-checkbox {
  padding-left: 5px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col {
  text-align: center;
  float: none;
  margin: auto;
}

.preview {
  display: flex;
  padding-left: 55px;
}

.disp-resume {
  border-bottom: 1px solid;
  border-bottom-color: lightgray;
}

.form-style-9 {
  max-width: 850px;
  background: #fafafa;
  padding: 30px;
  margin: 25px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #390099;
}

.form-style-9 .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #390099;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  :focus {
    box-shadow: 0 0 5px #b0cfe0;
    border: 1px solid #b0cfe0;
  }
}

.part-number {
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-bottom: 1px solid;
  border-bottom-color: lightgray;
  margin-bottom: 2%;
  font-size: large;
}

#Bio {
  height: 80px !important;
}

label {
  padding-left: 6px;
}

.material-icons {
  padding-bottom: 9px;
}

.mt5 {
  margin-top: 5% !important;
}

.mb5 {
  margin-bottom: 5% !important;
}

.edit-label {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h6 {
  padding-left: 6px;
}

p {
  padding-left: 6px;
}

i {
  color: #390099;
}

.submit {
  padding-bottom: 10px;
  padding-left: 7px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.info-container {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  align-items: center;
}

.sm-dropdown {
  .mat-form-field {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-infix {
          height: 2%;
        }
      }
    }
  }
}

.info-field {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .container {
    .input-field.col .prefix ~ label,
    .input-field.col .prefix ~ .validate ~ label {
      font-size: 10px;
    }
    .form-title {
      padding-top: 30px;
      .disp-as-flex {
        display: block;
        text-align: center;
      }
    }
    .general-details {
      .general-details-l1 {
        margin-top: 10px;
        flex-direction: column;
      }
    }
    .material-icons {
      display: none;
    }
    .info-container {
      flex-direction: column;
      /deep/.mat-form-field-infix {
        width: 235px;
      }
      .info-field {
        width: 100%;
        .input-field {
          padding: 0;
          .field-style {
            font-size: 10px;
            margin: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
