<div class="title-container">
  <h4 class="title">Frequently Asked Questions:</h4>
  <img src="./assets/image/teamwork.png" />
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why are all the questions in the quiz not compulsory?
      </mat-panel-title>
      <mat-panel-description>
        Quiz-related
        <mat-icon>help</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      Since this is the first beta release, we have not kept each question
      compulsory for testing purposes. However this feature will be added in the
      upcoming releases.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why can I not create a candidate account?
      </mat-panel-title>
      <mat-panel-description>
        Account related
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      Please make sure you have filled the first time user registration
      <a [routerLink]="['/candidate']">form</a> before trying to create a
      candidate profile. If you are still facing issues, please let us know by
      either filling out the feedback form or getting in touch with either of us
      from the Contact Us page in the footer.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Where do I find the feedback form?
      </mat-panel-title>
      <mat-panel-description>
        Feedback related
        <mat-icon>feedback</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      The feedback form link is provided in the footer in every page. However,
      you can also click
      <a href="https://forms.gle/AdVkfqPdwRnxLRVE8" target="_blank">here</a> for
      the same.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Can I apply for job without attempting the quiz?
      </mat-panel-title>
      <mat-panel-description>
        Job Application related
        <mat-icon>question_answer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      Even though we do provide an option to search for jobs directly to apply,
      we highly recommned that you take the assessment and apply for the jobs
      recommended to you because they will be more suited to your capacity and
      you will be a better fit for those companies.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Where can I view my Job Application?
      </mat-panel-title>
      <mat-panel-description>
        Job Application related
        <mat-icon>question_answer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      After applying for the job, you can view your application in the Applied
      Jobs section.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Where should I upload my resume?
      </mat-panel-title>
      <mat-panel-description>
        Resume related
        <mat-icon>assignment</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      After sighing up on the portal and making an account with us, you will be
      directed to a page to give your full name on the application and upload
      your resume. Please note that we accept resumes only in .pdf format.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How to decide which job to apply for?
      </mat-panel-title>
      <mat-panel-description>
        Job Application related
        <mat-icon>question_answer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      You are encouraged to take the assessment and apply for the recommended
      jobs. However, if you are still unsure about what you want to pursue, our
      chatbot (present at bottom right of every page) can act as a career
      counsellor. Please write your queries and get them resolved. If you need
      further help, do not hesitate to contact us.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why am I asked irrelevant questions in the quiz?
      </mat-panel-title>
      <mat-panel-description>
        Quiz related
        <mat-icon>help</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      The first round of the quiz has questions from all domains (mainly
      technology and marketing). this is a general assessment for all candidates
      to realize where their true interest lies. The next two rounds will be
      domain specific only.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Is it necessary to give all the three rounds?
      </mat-panel-title>
      <mat-panel-description>
        Quiz related
        <mat-icon>help</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      Yes, before moving on to the next round, it is neccesary to have completed
      the previous round. You need not answer all the questions but we highly
      recommend that you do because the domains and sub domains will be selected
      from the results of the previous rounds.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Is there a time limit for attempting the quiz?
      </mat-panel-title>
      <mat-panel-description>
        Quiz related
        <mat-icon>help</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      Yes, you'll be given a total of 20 minutes to finish all the questions of
      all the three rounds.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How many questions are there in each round?
      </mat-panel-title>
      <mat-panel-description>
        Quiz related
        <mat-icon>help</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      There are 20 questions in each round.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Do I need to pay to apply for a job?
      </mat-panel-title>
      <mat-panel-description>
        Job Application related
        <mat-icon>question_answer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      No, applying for a job and getting an interview call is absolutely free.
      if any recruiter is asking you for a payment, please report them to us so
      that they may be blocked from doing so.
    </article>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Can I apply for multiple jobs at once?
      </mat-panel-title>
      <mat-panel-description>
        Job Application related
        <mat-icon>question_answer</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      Yes, you are allowed to apply for more than one job at our portal.
    </article>
  </mat-expansion-panel>
</mat-accordion>
