<div class="cont-cont">
    <div class="container" *ngFor="let result of data.data; let i = index">
      <mat-card class="example-card">
        <div class="header-container">
          <mat-card-header>
            <div mat-card-avatar>
              <img
                src="./assets/logo1.png"
                alt="logo"
                style="width: 50px; height: 50px;"
              />
            </div>
            <mat-card-title>{{ result.job_title }}</mat-card-title>
            <!-- <mat-card-subtitle> <a href="{{ result.Resume_obj }}"> View Resume</a></mat-card-subtitle> -->
          </mat-card-header>

          <!-- <div class="dropdown">
            <button
              class="dropdown-cont"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                class="dropdown-cont"
                mat-menu-item
                (click)="onApplyClick(result.id)"
                *ngIf="userService.isOrganization"
              >
                <i class="material-icons">edit</i>
                <span>
                  <div class="dropdown-txt">Apply Now</div>
                </span>
              </button>
              <button class="dropdown-cont" mat-menu-item>
                <i class="material-icons">share</i>
                <span>
                  <div class="dropdown-txt">Share</div>
                </span>
              </button>
              <button class="dropdown-cont" mat-menu-item>
                <i class="material-icons">bookmark</i>
                <span>
                  <div class="dropdown-txt">Save</div>
                </span>
              </button>
              <!-- <button class="dropdown-cont" mat-menu-item (click)="onViewApplicant(result.id)" *ngIf="userService.isOrganization">
                    <i class="material-icons">pageview</i>
                    <span>
                        <div class="dropdown-txt" >View applicants</div>
                    </span>
                </button> -->
            <!-- </mat-menu>
          </div> -->
        </div>
        <p class="description" matTooltip="{{ result.Job_Descreption }}">
          <strong>Job_Descreption : </strong>{{ result.Job_Descreption }}
        </p>
        <p class="description" matTooltip = "1-Tech | 2-Marketing">
            <strong>Field Related To : </strong>{{ result.fields }}
          </p>
          <p class="description">
            <strong>Minimum Experience : </strong>{{ result.Minimum_experience }} year(s)
          </p>
        <!-- <mat-card-content>
          <p>
            <strong>Minimum experience : </strong>
            {{ result.Minimum_experience }}
          </p>
          <p class="city">
            <strong>Available at : </strong>
            {{ result.prefered_city }}
          </p>
        </mat-card-content> -->
        <!-- <mat-card-actions class="footer">
          <button mat-button class="btn" (click)="onViewClick(result)">
            View Post
          </button>
          <button
            mat-button
            class="btn"
            (click)="onViewApplicant(result.id)"
          >
            View Applicants
          </button>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </div>