.main-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 10%;
}

.has-decided {
  min-width: 38%;
  max-width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 8px rgb(204, 203, 203);
  border-radius: 2%;
  cursor: pointer;
  transition: transform 0.2s;
}

.has-decided-content {
  padding: 5%;
}

.has-decided:hover {
  box-shadow: 0 0 10px 8px rgb(109, 107, 107);
  transform: scale(1.1);
}

.actual-img {
  border-radius: 2% 2% 0% 0%;
  // max-width: 390px;
  max-width: -webkit-fill-available;
}

.has-decided-dropdown {
  align-items: baseline;
  /deep/ .mat-form-field-flex {
    background-color: transparent;
  }
}

.has-not-decided {
  min-width: 38%;
  max-width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 8px rgb(204, 203, 203);
  border-radius: 2%;
  cursor: pointer;
  transition: transform 0.2s;
}

.has-not-decided-content {
  padding: 5%;
}

.has-not-decided:hover {
  box-shadow: 0 0 10px 8px rgb(109, 107, 107);
  transform: scale(1.1);
}
