.main {
  display: flex;
}

.header {
  background: whitesmoke;
  min-width: 50%;
  padding: 5%;
}

a {
  color: lightgray;
  width: 110%;
}

.all-txt {
  align-self: center;
}

.all-btn {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.title-txt {
  display: flex;
  justify-content: center;
  color: #41434c;
  font-weight: bold;
  padding: 2%;
  text-align: center;
  font-size: 50px;
}

.part2 {
  color: #390099;
}

.tagline {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.tagline-txt {
  display: flex;
  justify-content: center;
  color: #41434c;
  font-weight: bold;
  padding: 2%;
  text-align: center;
  display: flex;
  font-size: x-large;
  min-width: 100%;
  align-items: center;
}

.gif-container {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.gif {
  max-height: 80px;
  max-width: 80px;
}

.btn {
  min-height: 45px;
  max-height: 45px;
  min-width: 45px;
  max-width: 150px;
  display: flex;
  align-items: center;
  background-color: #390099;
  margin-right: 2%;
  border-radius: 55px;
  white-space: nowrap;
  justify-content: center;
}

.btn:hover {
  background-color: #2e0379;
}

.btn-txt {
  color: white;
  font-weight: bold;
}

.img {
  min-width: 50%;
}

.lp-img {
  width: 100%;
  padding: 5%;
}

.desc-container {
  display: flex;
  flex-direction: column;
}

.desc-header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.desc-tagline {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  color: rgb(116, 111, 111);
} 

.cards-container {
  padding: 5%;
  // overflow: hidden;
  display: flex;
  // width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lp-card {
  max-width: 25% !important;
  //  z-index: 999;

//  float: left;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 8px rgb(204, 203, 203);
  cursor: pointer;
  transition: transform 0.2s;
  height: auto;
  min-height: fit-content;
}

.lp-card:hover {
  box-shadow: 0 0 10px 8px rgb(173, 170, 170);
  overflow: hidden;
  transform: scale(1.1);
}

.lp-card-img-container {
  display: flex;
}

.lp-card-img {
  max-width: 100%;
  border-radius: 2% 2% 0% 0%;
  width: -webkit-fill-available;
}

.lp-card-content {
  min-height: 35%;
  // max-height: 35%;
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.lp-card-header {
  color: black;
  font-size: large;
  font-weight: 600;
}

.lp-card-header:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.lp-card-header:hover:after{
  width: 100%; 
  left: 0; 
}

.lp-card-txt {
  // min-height: 50% !important;
  flex-grow: 3;
  display: flex;
}

.last-card {
  margin-right: 0% !important;
}

.lp-btn-container {
  display: flex;
  justify-content: flex-start;
  padding: 2% 4%;
  margin: 2% 0%;
  min-height: 15%;
  max-height: 15%;
}

.lp-btn {
  min-height: 45px;
  max-height: 45px;
  min-width: 45px;
  max-width: 100px;
  display: flex;
  align-items: center;
  background-color: #390099;
  margin-right: 2%;
  border-radius: 55px;
  white-space: nowrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    .title-txt {
      font-size: 18px;
    }
    .tagline-txt {
      font-size: 14px;
      .gif {
        max-height: 40px;
        max-width: 40px;
      }
    }
    .btn {
      min-height: 25px;
      max-height: 25px;
      min-width: 25px;
      max-width: 80px;
      .btn-txt {
        font-size: 8px;
        width: unset;
      }
    }
  }
  .desc-container {
    .desc-header {
      font-size: 14px;
    }
    .desc-tagline {
      font-size: 12px;
    }
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
    .lp-card {
      max-width: 80% !important;
      margin-bottom: 20px;
      .lp-card-header {
        font-size: 12px;
      }
      .lp-card-txt {
        font-size: 10px;
      }
    }
  }
}
