
.main{
    display: flex;
}

.header{
    background: whitesmoke;
    min-width: 50%;
    padding: 5%;
}

a{
    color: lightgray;
    width: 110%;
}

// a:hover {
//     background-color: rgba(0, 0, 0, 0) !important;
// }

.all-txt{
    align-self: center;
}

.all-btn{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.title-txt{
    display: flex;
    justify-content: center;
    color: #41434C;
    font-weight: bold;
    padding: 2%;
    text-align: center;
    font-size: xxx-large;
}

// .part1{
//     color: #390099;
// }

.part2{
    color: #390099;
}

// @supports (-webkit-text-stroke: 1px black) {
//     .part2 {
//       -webkit-text-stroke: 1px black;
//       -webkit-text-fill-color: whitesmoke;
//     }
//   }

.tagline{
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.tagline-txt{
    display: flex;
    justify-content: center;
    color: #41434C;
    font-weight: bold;
    padding: 2%;
    text-align: center;
    display: flex;
    font-size: x-large;
    min-width: 100%;
    align-items: center;
}

.gif-container{
    margin-left: 2%;
}

.gif{
    max-height: 50px;
    max-width: 50px;
}

.btn{
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 150px;
    display: flex;
    align-items: center;
    background-color: #390099;
    margin-right: 2%;
    border-radius: 55px;
    white-space: nowrap;
    justify-content: center;
}

.btn:hover{
    background-color: #2e0379;

}

.btn-txt{
    color: white;
    font-weight: bold;
}

.img{
    min-width: 50%;
    // padding-left: 5%;
}

.lp-img{
    width: 100%;
    padding: 5%;
}