<div class="main-container">
    <div class="header jcc">
        Prepare a quiz that best suits your needs
    </div>
    <div>
        <div class="upload-srv">
            <div class="question-header jcc">
                Upload your questions CSV file here:
            </div>
            <input type="file" (change)="onFileChange($event.target.files)" class="dropify" accept=".csv, .xlsx"
                data-allowed-file-extensions="csv xlsx" data-max-file-size="3000K" />
        </div>

        <div class="upload-srv">
            <div class="answer-header jcc">
                Upload your answers CSV file here:
            </div>
            <input type="file" (change)="onFileChange(uploads.files)" class="dropify" accept=".csv, .xlsx"
                data-allowed-file-extensions="csv xlsx" data-max-file-size="3000K" />
        </div>

        <div class="all-btn jcc">
            <button class="btn" type="submit" name="action">
                Continue<i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>