<div class="row">
  <div class="loader-container">
    <div *ngIf="showLoader">
      <img src="./assets/loader.gif" class="loader" alt="Loading..." />
    </div>
  </div>

  <div *ngIf="!showLoader">
    <div class="col s12">
      <h4>Jobs you will excel at:</h4>

      <div class="container">
        <mat-card class="example-card" *ngFor="let result of data.data">
          <div class="header-container">
            <mat-card-header>
              <div mat-card-avatar>
                <img
                  src="./assets/logo1.png"
                  alt="logo"
                  style="width: 50px; height: 50px;"
                />
              </div>
              <mat-card-title>{{ result.Name }}</mat-card-title>
              <mat-card-subtitle>{{ result.job_title }}</mat-card-subtitle>
            </mat-card-header>

            <div class="dropdown">
              <button
                class="dropdown-cont"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  class="dropdown-cont"
                  mat-menu-item
                  (click)="onApplyClick(result.id)"
                >
                  <i class="material-icons">edit</i>
                  <span>
                    <div class="dropdown-txt">Apply Now</div>
                  </span>
                </button>
                <button class="dropdown-cont" mat-menu-item>
                  <i class="material-icons">share</i>
                  <span>
                    <div class="dropdown-txt">Share</div>
                  </span>
                </button>
                <button class="dropdown-cont" mat-menu-item>
                  <i class="material-icons">bookmark</i>
                  <span>
                    <div class="dropdown-txt">Save</div>
                  </span>
                </button>
              </mat-menu>
            </div>
          </div>
          <p class="description" title="{{ result.Job_Descreption }}">
            <strong>Description : </strong>{{ result.Job_Descreption }}
          </p>
          <mat-card-content>
            <p>
              <strong>Minimum experience : </strong>
              {{ result.Minimum_experience }}
            </p>
            <p class="city">
              <strong>Available at : </strong>
              {{ result.prefered_city }}
            </p>
          </mat-card-content>
          <mat-card-actions class="footer">
            <button mat-button class="btn" (click)="onViewClick(result)">
              View Post
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
