// .btn{
//     margin: 10px;
//     background: linear-gradient(to top, #20002c, #cbb4d4);
//     margin-left: 2%;
// }

mat-form-field{
    height: 20px;
}

i{
    padding: 3%;
}

.loader-container{
    display: flex;
    justify-content: center;
}

.loader{
    width: 100px;
    height: 100px;
}

h4{
    font-family: Poppins !important;
    margin-left: 20px !important;
    margin-bottom: 0px;
    color: #0b132b;
    margin-left: 9% !important;
}

.card{
    background: linear-gradient(to bottom, #41295a, #2f0743);
}

.card-title{
    color: lightgray    ;
}

.card p{
    color: lightgray;
}

.apply{
    cursor: pointer;
    color: lightgray;
}

.input-field{
    float: right;
    right: 720px;
    bottom: 55px;
}

a{
    color: lightgray;
}


button{
    margin-left: 20px;
    margin-bottom: 10px;
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    justify-content: center;  
}

.mat-card-avatar{
    height: 50px;
    width: 50px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
}

.example-card {
    max-width: 25%;
    min-width: 25%;
    max-height: 8%;
    margin: 2%;
    min-height: 8%;
    padding: 12px !important;
  }
  
  .example-header-image {
    background-image: url(../../../assets/logo1.png);
    background-size: cover;
  }

  .dropdown-img{
    padding-top: 10px;
    padding-right: 5px;
    max-width: 24px;
    max-height: 24px;
  }
  
  .dropdown-txt{
    color: #303030;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    min-width: 50px;
    text-align: start;
  }

  .dropdown-cont{
      display: flex;
      align-items: center;
      background-color: transparent !important;
      border: none !important;
      margin: 0px !important;
  }

  .dropdown-cont:hover{
    display: flex;
    align-items: center;
    background-color: whitesmoke !important;
    border: none !important;
    margin: 0px !important;
}

.description{
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 2em;
}

.description:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1em;

  }

.description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }

.city{
    border-bottom: 1px solid;
    border-bottom-color: lightgray; 
}

.footer{
    display: flex;
}

.footer-icons{
    padding: 0px !important;
    margin-left: 0px !important;
}

.btn{
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 250px;
    display: flex;
    align-items: center;
    background-color: #390099;
    margin-right: 2%;
    border-radius: 55px;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    white-space: nowrap;
    font-size: small;
}
