<div class="dialog-container">
    <!-- <h3 mat-dialog-title>{{data.Name}}</h3> -->

    <mat-dialog-content class="job-view">
        <h5><strong>{{data.Name}}</strong></h5>
        <br>
        <h6> <strong>  By: </strong> {{data.By}}</h6> 
        <h6> <strong> Description: </strong> {{data.Description}} years</h6>
        <h6> <strong>  Rating:</strong>  {{data.Rating}}</h6>

        <a href="{{data.Apply}}" class="button">Apply Now<i class="material-icons footer-icons right">edit</i></a>
        <!-- <i class="material-icons footer-icons right">edit</i> -->
    </mat-dialog-content>
</div>
