.button{
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 150px;
    display: flex;
    align-items: center;
    background-color: #390099;
    margin-right: 2%;
    border-radius: 55px;
    justify-content: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
    white-space: nowrap;
    font-size: medium;
}